#homepage{
	color: #3385ff;
}

.background{
	background-attachment: fixed;
	background-position: center;
 	background-size: cover;
	background-image: url(../pic/background-black-colors-952670.jpg);
}
#linked a{
	color: black;
	font-size: 200%;
	text-decoration: none;
}
.in{
	padding: 0 4px 0 4px;
	background-color: #3385ff;
	border-radius: 3px;
	color:white;
}
.menu_list a:hover{
	color: #3385ff;
}
